.movie-list-container {
  padding: 10px;
}

.movie-list-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  height: 50px;
  align-items: center;
}

.column {
  color: #596e81;
}

.title-column {
  text-align: left;
  font-weight: bold;
}
