<app-loading [isLoading]="isLoading"></app-loading>
<div *ngIf="!isLoading">
  <app-search-sort (sortOptionSelected)="onSortOptionSelected($event)" (searchTextEntered)="onSearchTextEntered($event)"></app-search-sort>
  <div class="horizontal-border"></div>
  <div class="content-container">
    <div class="movie-list-container">
      <app-movie-list [films]="films" [sortOption]="currentSortOption" [searchText]="searchText" (selectedFilm)="onFilmSelected($event)"></app-movie-list>
    </div>
    <div class="movie-description-container">
      <app-movie-description [filmDetails]="selectedFilmDetails"></app-movie-description>
    </div>
  </div>
</div>
